.header {
  background-color: #e6e6e6;
  padding-bottom: 9px;
  z-index: 100;
  position: fixed;
  width: 100%;

  .iconcentral {
    position: absolute;
    width: 100px;
    left: 50%;
    margin: -7px 0px 0px -50px;

    img {
      width: 100%;
    }
  }

  .iconright {
    float: right;
    width: 31px;
    margin-top: -6px;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
    
}

@media only screen and (max-width: 800px) and (min-width: 481px) {
    
}

@media only screen and (max-width: 480px) {
  
}