@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700,900');

* {
  padding: 0px;
  margin: 0px;
}

.clear {
  display: block;
  clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #666 !important;
}

.container {
  padding: 20px;
}

.padding-content {
  padding: 65px 0px 90px 0px;
}

h1, h2, h3, h4 {
  color: #333;
}

a, a:hover, a:visited {
  color: #666;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
    
}

@media only screen and (max-width: 800px) and (min-width: 481px) {
    
}

@media only screen and (max-width: 480px) {

}