.sub-title {
    text-align: center;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

.content-buttom {
    margin: 213px 0px 30px 0px;
    
    .buttom {
        position: relative;
        background-color: #eee;
        border-radius: 3px;
        padding: 10px 0px 0px 0px;
        margin-bottom: 15px;
        max-height: 35px;
        overflow: hidden;
        cursor: pointer;

        .title-buttom {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 10px;
            padding-top: 6px;

            >.arrow {
                float: right;
                padding-right: 10px;
            }
        }
    
        .icon-buttom {
            float: left;
            width: 24px;
            left: 50%;
            margin: -10px 10px 0px 0px;
            background-color: #d6d6d6;
            padding: 10px;

            > img {
                width: 100%;
            }
        }
    }
}